<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/base.css') }}"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar_menu">
        <a href="{{ url_for('index') }}"> <img src="static/public/home-logo.jpeg"></img></a>
        <a href="{{ url_for('agregarActividad') }}"> <img src="static/public/añadir.png"></img></a>
        <a href="{{ url_for('estadisticas') }}"> <img src="static/public/Estadisticas-de-ventas.jpg"></img></a>
      </div>
    </nav>
  </body>
  <section class="main-container">
    {% block content %}{% endblock %} 
    {% block javascript %}{% endblock %}
  </section>
</html>