<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/styles/index.css">

  </head>
  <body>
    <header class="encabezado">
      <h1>Bienvenido a Activity Tracker</h1>
      <h3>lleva el registro de todas las actividades cerca tuyo</h3>
    </header>
    <div class="contenedor_principal">
      <div class="caja">
        <a href="agregar_actividad.html">
          <img src="static/public/añadir.png" alt="Agregar Actividad" class="icono">
        </a>
      </div>
      <div class="caja">
        <a href="actividades.html">
          <img src="static/public/actividades_3.jpg" alt="actividades" class="icono">
        </a>
      </div>
      <div class="caja">
        <a href="estadisticas.html">
          <img src="static/public/Estadisticas-de-ventas.jpg" alt="estadisticas" class="icono">
        </a>
      </div>
    </div>
    <div class="contenedor_historial">
      <h2>Historial de Actividades</h2>
      <table border="1" id="mi_tabla">
        <thead>
          <tr>
            <th>Inicio</th>
            <th>Término</th>
            <th>Comuna</th>
            <th>Sector</th>
            <th>Tema</th>
            <th>Fotos</th>
          </tr>
        </thead>
        <tbody id="historial_actividades">
          <tr id="actividad1">
            <td>2025-04-08T10:00</td>
            <td>2025-04-08T13:00</td>
            <td>Puente Alto</td>
            <td>Centro</td>
            <td>Medio Ambiente</td>
            <td><img src="static/public/medioambiente.jpeg" alt="foto medioambiente"></td>
          </tr>
          <tr id="actividad2">
            <td>2025-05-08T10:00</td>
            <td>2025-05-08T13:00</td>
            <td>Las Condes</td>
            <td>Cerro las condes</td>
            <td>deporte</td>
            <td><img src="static/public/deportes.jpeg" alt="foto medioambiente"></td>
          </tr>
          <tr id="actividad3">
            <td>2025-06-08T10:00</td>
            <td>2025-06-08T13:00</td>
            <td>Vitacura</td>
            <td>parque de vitacura</td>
            <td>musica</td>
            <td><img src="static/public/musica.png" alt="foto medioambiente"></td>
          </tr>
          <tr id="actividad4">
            <td>2025-07-08T11:00</td>
            <td>2025-07-08T13:00</td>
            <td>Cerrillos</td>
            <td>parque de cerrillos</td>
            <td>ciencias</td>
            <td><img src="static/public/ciencias.jpeg" alt="foto medioambiente"></td>
          </tr>
          <tr id="actividad5">
            <td>2025-06-08T12:00</td>
            <td>2025-06-08T13:00</td>
            <td>providencia</td>
            <td>parque ines de suarez </td>
            <td>baile</td>
            <td><img src="static/public/baile.jpg" alt="foto medioambiente"></td>
          </tr>
        </tbody>
      </table>

    </div>






    <script type="module" src=""></script>
  </body>
</html>