body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
table {
  width: 100%;
  border-collapse: separate; /* para permitir separación entre filas */
  border-spacing: 0 10px; /* espacio vertical entre filas (tr) */
  font-size: 16px; /* tamaño de texto más grande */
  border-radius: 2ch; /* esquinas redondeadas */
  background-color: azure;

}

td {
  padding: 12px 20px; /* espacio interno en celdas */
  text-align: left;
  background-color: white;
  border: 1px solid aqua;
}

thead th {
  background-color: #1b1757;
  font-weight: bold;
  color: white;
  padding: 12px 20px; /* espacio interno en celdas */
  text-align: left;
  
}

tr {
  transition: background-color 0.3s ease;
  border: 1px solid #0c0c0c; /* borde de las filas */
}

tr:hover {
  background-color: #f1f1f1; /* efecto hover */
  cursor: pointer;
}
.contenedor_resumen{
  margin-top: 20px;
  padding: 15px;
  height:35vh ;
  width: 550px;
  border: 2px solid rgb(14,14,58);
  background-color: azure;
}
.res_acti{
  margin-left: 25px;
}
.cont_btn{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.back_btn,.home_btn{
  background-color: rgb(24, 24, 97);
  color: white;
  border: none;
  height: 40px;
  width: 110px;
  border-radius: 5px;
  cursor: pointer;
}